global
  log stdout format raw local0

defaults
  log global
  mode http
  option httplog
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend matrix_client
  bind *:8008
  default_backend synapse_client_pool

frontend matrix_federation
  bind *:8448
  default_backend synapse_federation_pool

backend synapse_client_pool
  option httpchk GET /health
  http-check expect status 200
  balance roundrobin
  server generic_worker_1 synapse-generic-worker-1:8081 check
  server background_worker_1 synapse-background-worker-1:8083 check backup
  server monolith synapse:8008 check backup

backend synapse_federation_pool
  option httpchk GET /health
  http-check expect status 200
  balance roundrobin
  server generic_worker_1 synapse-generic-worker-1:8081 check
  server monolith synapse:8008 check backup
